*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}


.main_container{
    background-color: rgb(27, 29, 30);
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 50px;
    padding-top: 40px;
    margin: auto;

}
.sidebar{
    height: 90vh;
    border: solid rgba(255, 255, 255, 0.162) 1px;
    border-radius: 16px;
    background-color: rgb(52, 52, 51);
    padding: 40px ;
    position: sticky;
    top: 40px;
    

}
.main_contant{
    
    border: solid rgba(255, 255, 255, 0.137) 1px;
    border-radius: 16px;
    background-color: rgb(52, 52, 51);
}

.profile_container{
    text-align: center;
}
.profile_container img{
    width: 120px;
    height: 125px;
    border: solid 1px rgba(255, 255, 255, 0.411);
    border-radius: 50%;
    

}
.profile_container h1{
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    margin-top: 12px;
}

.profile_container p{
    display: inline-block;
    border-radius: 5px;
    color: rgb(255, 208, 0);
    padding: 1px 5px;
    font-size: 0.8rem;    
    border: 1px solid rgba(255, 255, 255, 0.229);
    margin-top: 15px;
}
.contact{
    margin-top: 2px;
    border-top: solid 1px rgba(255, 255, 255, 0.249);
    padding: 20px 0px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.249);
}
.contact .lebel {
    font-size: 0.8rem;
    color: hsla(0, 8%, 81%, 0.501);
    font-weight: 200;
    margin-top: 4px;

}
.contact .value{
    color: rgb(255, 252, 242);
    text-decoration: none;
}
.social{
    text-align: center;
    gap: 18px;
    margin-top: 15px;
    color: white;
}
.social img{
    width: 29px;
    height: 29px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.5s ease;
    margin-left: 5px;

}
.social img:hover{
    filter: none;
}

.main_contant{
    padding: 35px 38px;
    
    
}
nav{
    display: flex;
    gap: 18px;
    justify-content: right;
    height: 46px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.219);
    margin-top: 10px;
}
nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.525);
    font-size: 17px;
    transition: color 0.3s ease;
}
.about_a , nav a:hover{
    color: rgb(255, 213, 0);
}
.heading{
    margin-top: 12px;
    color: white;
    

}
.line {
    background-color: rgb(255, 213, 0);
    height: 4.5px;
    width: 60px;
    margin: 20px 0px;
    margin-bottom: 26px;
}
#about p{
    text-align: justify;
    margin-bottom: 12px;
}
#skills h1{
    margin-top: 52px;
}

.gird_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    gap: 40px;
}
.gird_container .item{
    height: 140px;
    background-color: #1e1e1e;
    border: solid 1px rgba(255, 255, 255, 0.223);
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
    gap: 20px;
    transition: transform 0.8s ease;
    transition: box-shadow 0.5s ease;
    transition: rotate 0.8s ease;
    
}
.gird_container .item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 5px #1e1e1ea1;
    rotate: 5deg;
}

.gird_container .item img{
    height: 45px;
    filter: brightness(0) saturate(100%) invert(87%) sepia(46%) saturate(4495%) hue-rotate(358deg) brightness(98%) contrast(106%);
}
.gird_container .item h3{
    font-size: 15px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.436);
}

.edu1, .edu2 {
    margin-bottom: 22px;
    position: relative;
    padding-left: 25px;
}
.date{
    font-size: 01rem;
    margin-bottom: 5px;
}
.edtech h3{
    font-size: 1.2rem;
    color: white;
}
.college{
    font-style: italic;
    font-size: 1rem;
    margin: 4px 0px;
}
.edtech p{
    margin: 8px 0px;
    font-size: 1rem;
    text-align: justify;
}
.circle{
    width: 16px;
    height: 16px;
    border: solid 4px rgb(255, 213, 0);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 0px;
}
.edtech{
    position: relative;
}
.sideline{
    position: absolute;
    border: solid 1px #e4d9d932;
    top: 5px;
    left: 7px;
    bottom: 0px;

}

.portfolio-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
    padding: 12px 0px;
}
.card{
    background-color: rgb(36, 34, 34);
    border-radius: 12px;
    border: solid 1px rgba(218, 212, 212, 0.204);
    border-image: initial;
    overflow: hidden;
    transition: transform 0.4s, box-shadow 0.5s ease;
}
.card:hover{
    transform: translateY(-15px);
    box-shadow: 0px 0px 12px 5px rgba(23, 22, 22, 0.415);
}
.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.inner-card{
    padding: 22px;
}

.inner-card h3{
    font-size: 1.3rem;
    color: rgb(248, 247, 240);
    margin-bottom: 12px
}
.inner-card p{
    font-size: 1rem;
    margin-bottom: 19px;
}
.inner-card span{
    background-color: #ffbf0022;
    color: rgb(255, 200, 0);
    padding: 4px 10px;
    font-size: 0.7rem;
    margin-right: 7px;
    border-radius: 6px;

}

@media (max-width : 760px ){
    .main_container{
        display: grid;
        grid-template-columns: 1fr;
        padding: 16px;
        gap: 18px;

    }
    .sidebar{
        position: static;
        height: auto;
        padding: 28px 24px;   
    }
   
    .main_contant{
        padding: 28px 16px;
    }
    nav{
        justify-content: center;
        
    }
}

@media (max-width : 1350px ){
    .main_container{
        padding: 22px 19px;
        margin-top: 15px;
    }
}

@media (max-width : 550px) {
    .portfolio-container{
        grid-template-columns: 1fr;
    }
    
}
 
