*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}


.main_container{
    background-color: rgb(27, 29, 30);
    display: grid;
    max-width: 1200px;
    grid-template-columns: 340px 1fr;
    gap: 50px;
    padding-top: 40px;
    margin: auto;

}
.sidebar{
    height: 90vh;
    border: solid rgba(255, 255, 255, 0.162) 1px;
    border-radius: 16px;
    background-color: rgb(52, 52, 51);
    padding: 40px ;
    position: sticky;
    top: 40px;
    

}
.main_contant{
    
    border: solid rgba(255, 255, 255, 0.137) 1px;
    border-radius: 16px;
    background-color: rgb(52, 52, 51);
}

.profile_container{
    text-align: center;
    height: 240px;
    margin: 4px;
    background-color: transparent;
}
.profile_container img{
    width: 120px;
    height: 125px;
    border: solid 1px rgba(255, 255, 255, 0.411);
    border-radius: 50%;
    

}
.profile_container h1{
    background-color: transparent;
    color: white;
    font-size: 28px;
    margin-top: 12px;
}

.profile_container p{
    text-align: center;
    display: inline-block;
    height: 28px;
    width: 140px;
    border-radius: 5px;
    color: rgb(255, 208, 0);
    padding: 1px 5px;
    font-size: 15px;    
    border: 1px solid rgba(255, 255, 255, 0.229);
    margin-top: 15px;
}
.contact{
    margin-top: 2px;
    border-top: solid 1px rgba(255, 255, 255, 0.249);
    padding: 20px 0px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.249);
}
.contact .lebel {
    font-size: 13px;
    color: hsla(0, 8%, 81%, 0.501);
    margin-top: 12px;

}
.contact .value{
    color: rgb(255, 252, 242);
    text-decoration: none;
    font-size: 17px;
}
.social{
    text-align: center;
    gap: 18px;
    margin-top: 15px;
    color: white;
}
.social img{
    width: 29px;
    height: 29px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.5s ease;
    margin-left: 5px;

}
.social img:hover{
    filter: none;
}

.main_contant{
    padding: 35px 38px;
    
    
}
nav{
    display: flex;
    gap: 18px;
    justify-content: right;
    height: 46px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.219);
    margin-top: 10px;
}
nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.525);
    font-size: 17px;
    transition: color 0.3s ease;
}
.about_a , nav a:hover{
    color: rgb(255, 213, 0);
}
.heading{
    margin-top: 12px;
    color: white;
    

}
.line {
    background-color: rgb(255, 213, 0);
    height: 4.5px;
    width: 60px;
    margin: 18px 0px;
}
#about p{
    text-align: justify;
    margin-bottom: 12px;
}
#skills h1{
    margin-top: 52px;
}

.gird_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    gap: 40px;
    padding: 18px 0px;
    justify-content: center;
    align-items: center;

}
.gird_container .item{
    height: 140px;
    background-color: #1e1e1e;
    border: solid 1px rgba(255, 255, 255, 0.304);
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
    gap: 20px;
}

.gird_container .item img{
    height: 45px;
    filter: brightness(0) saturate(100%) invert(87%) sepia(46%) saturate(4495%) hue-rotate(358deg) brightness(98%) contrast(106%);
}
.gird_container .item h3{
    font-size: 15px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.436);
}






@media only screen and (max-width : 760px ){
    .main_container{
        display: grid;
        grid-template-columns: 1fr;
        padding: 16px;
        gap: 18px;

    }
    .sidebar{
        position: static;
        height: auto;
        padding: 28px 24px;
        
        

        
    }
   
    .main_contant{
        padding: 28px 16px;
    }
    nav{
        justify-content: center;
        
    }
}

@media only screen and (max-width : 1350px ){
    .main_container{
        padding: 22px 19px;
        margin-top: 15px;
    }
}


